.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.iframe-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pdf-container{
    position: relative;
    overflow: hidden;
    padding-top: 129.4%
    height: 0;
}
.pdf-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
